/* ----------Main----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:darkkhaki;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 2em;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: 1.5em;
    display: inline-block;
    margin: 0.5em 0;
}

p {
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 3em;
    /* font-size: 1.2em; */
}

/* ---------Header----------- */
div.header {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    gap: 2em;
    padding-top: 0.5em;
}

#word1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
}

#word2 {
    font-family: 'Courier New', Courier, monospace;
    color: forestgreen;
}

#word3 {
    font-style: italic;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: royalblue;
}


/* -------Rules-------- */
#rules-text {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0.2em 0.2em 0.8em 0 rgb(0, 0, 0, 0.8);
    margin: 1.5em auto;
    padding: 0.5em;
    max-width: 75%;
}

.rules button {
    display: block;
    margin: 1em auto;
    padding: 0.4em;
    border-radius: 0.3em;
}


/* ----------Menus---------- */

#main-menu-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    min-height: 180px;
    margin: 4em auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}s

.submenu-container {
    display: flex;
    max-width: 450px;
    vertical-align: middle;
    margin: 1em auto;
    background-color: antiquewhite;
}

form {
    max-width: 200px;
    font-size: 1.3em;
    text-align: start;
    padding: 10px;
    background-color: #996E89;
    border-radius: 0.6em;
}

.form-2 {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80px;
    font-size: 1.8em;
}

.player-option {
    max-width: 50px;
}

#start-btn-container {
    text-align: center;
}

/* --------Game--------- */
.tic-tac-toe {
    display: none;
    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
    width: 70em;
}

#game-mode-section {
    text-align: center;
}

#game-container {
    text-align: center;
    width: 25em;
    margin: 0 auto;
    height: auto;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 220px;
    gap: 5px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

#score-container {
    max-width: 8em;
    max-height: 10em;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 5em;
}

div.round-status h3 {
    font-size: 1.6em;
    margin-top: 1em;
}

.cell {
    width: 70px;
    height: 70px;
    font-size: 3em;
    background-color: antiquewhite;
    border: 2px solid black;
    box-shadow: 0.4em 0.4em 0.5em 0 rgb(0, 0, 0, 0.8);
    cursor: pointer;
}

.cell:hover {
    border: 3px solid black;
    background-color: whitesmoke;
    width: 75px;
    height: 75px;
    border-radius: 0.1em;
}


#message, #player {
    font-size: 1.5em;
}

h2#score {
    text-align: center;
}


/* ------------Buttons------------- */
div.buttons {
    width: 12em;
    height: 8em;
    margin: 0 auto;
}

button {
    width: 8.2em;
    height: auto;
    margin: 1em;
    padding: 0.3em;
    border: none;
    border-radius: 0.2em;
}

#start-btn-container button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    max-width: fit-content;
}

.buttons button a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons button#next:hover,
.rules button:hover,
.menu-btn-container button:hover,
#start-btn-container button:hover {
    background-color: lightgreen;
    /* border: 2px solid black; */
    box-shadow: 0.2em 0.2em 0.6em 0 rgb(0, 0, 0, 0.5);
}

.buttons button#restart-btn:hover,
.buttons button#main-menu-btn:hover {
    background-color: lightcoral;
    /* border: 2px solid black; */
    box-shadow: 0.2em 0.2em 0.6em 0 rgb(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}